# Service ports
GATEWAY_PORT: 3000
WAGERING_WORKER_PORT: 3001

# Dtabase envs
MIRKO_ORM_DEBUG_MODE: "true"
POSTGRES_SSH_CONNECTION: "false"
POSTGRES_CONNECTION_STRING: "postgresql://postgres:masterkey@postgres:5432/wagering_db"
POSTGRES_PASSWORD: masterkey

# MiniStack envs
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_ENDPOINT=http://ministack:4566
