GATEWAY_PORT: 3000
WAGERING_WORKER_PORT: 3001

MIRKO_ORM_DEBUG_MODE: "true"
POSTGRES_SSH_CONNECTION: "false"
POSTGRES_CONNECTION_STRING: "postgresql://postgres:masterkey@postgres:5432/wagering_db"
POSTGRES_PASSWORD: masterkey
